<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    ​
    <style>
      [v-clock] {
        display: none;
      }
    </style>
    ​
    <title>VimQuiz</title>
  </head>
  <body>
    <div id="app">
      <!-- ヘッダー -->
      <div class="p-3 text-center">
        <div class="header_tittle my-3 py-3 mx-auto text-white mw-100px">
          <h1 class="display-3">Vim道</h1>
        </div>
      </div>
      ​
      <!-- 難易度選択 -->
      <div class="text_area w-auto mx-4 mx-md-5 text-white">
        <div v-if="questionMode" key="a">
          <p class="p-3">vimコマンド練習アプリ</p>
          <p class="px-3">難易度選択</p>
          <div class="m-3">
            <form name="difficult">
              <label class="difficulty_choose_label mb-4">
                <input type="radio" name="difficulty_choose" value="易しい" />
                <span class="text-white difficulty_level">易しい</span>
              </label>
              <label class="difficulty_choose_label">
                <input type="radio" name="difficulty_choose" value="難しい" />
                <span class="text-white difficulty_level">難しい</span>
              </label>
            </form>
          </div>
          <p class="px-3 mt-4">問題数選択</p>
          <div class="m-3">
            <form name="number_of_questions">
              <label>
                <input type="radio" name="number" value="5" />
                <span class="number_of_questions p-2 m-2">5</span>
              </label>
              <label>
                <input type="radio" name="number" value="10" />
                <span class="number_of_questions p-2 m-2">10</span>
              </label>
              <label>
                <input type="radio" name="number" value="15" />
                <span class="number_of_questions p-2 m-2">15</span>
              </label>
              <label>
                <input type="radio" name="number" value="all" />
                <span class="number_of_questions p-2 m-2">全問</span>
              </label>
            </form>
          </div>
        </div>
        <!-- クイズ画面 -->
        <div v-else key="b">
          <p class="p-2">説明文にあうコマンドを入力してください</p>
          <p class="p-2" id="questionStatement">
            1/{{questions.length}}:{{questions[0].question}}
          </p>
          <div>
            <form name="extra_keys">
              <label>
                <span class="extra_keys p-2 m-2">Ctrl</span>
                <input type="radio" name="command" value="Ctrl" />
              </label>
              <label>
                <span class="extra_keys p-2 m-2">Esc</span>
                <input type="radio" name="command" value="Esc" />
              </label>
              <label>
                <span class="extra_keys py-2 px-3 m-2">:</span>
                <input type="radio" name="command" value=":" />
              </label>
              <br />
              <label class="my-4">
                <span class="extra_keys p-2 m-2">選択を解除する</span>
                <input type="radio" name="command" value="none" />
              </label>
            </form>
          </div>
          <textarea
            id="answerArea"
            class="answer_area w-100 my-3 text-white"
            placeholder="コマンドを入力してください"
          ></textarea>
        </div>
      </div>
      ​
      <!-- ボタンエリア -->
      <div class="button_area m-3 m-md-5" v-if="questionMode">
        <button class="button-primary p-2 text-white" @click="questionChoose">
          問題スタート
        </button>
      </div>
      <div class="button_area m-3 mx-md-5" v-else>
        <button
          class="button-primary p-2 text-white"
          @click="answerCheck"
          v-if="answer_check"
        >
          答え合わせ
        </button>

        <button
          class="button-primary p-2 text-white"
          @click="nextQuestion"
          v-else
        >
          次の問題へ
        </button>
      </div>
    </div>
    ​
    <!-- ライブラリのインポート -->
    <script src="https://unpkg.com/vue"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- arrayShuffle()をnew Vueの中で使いたいため、Question.jsをここで取得 -->
    <script src="./src/Question.js"></script>
    <script src="./src/DifficultySetting.js"></script>
    ​
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          questionMode: true,
          questions: [],
          answer_check: true,
        },
        methods: {
          questionChoose: function () {
            this.questionMode = false;
            clickedStartProblems();
            this.questions = questionArray;
          },
          answerCheck: function () {
            this.questionMode = false;
            this.answer_check = false;
            judgeAnswer();
          },
          nextQuestion: function () {
            nextQuestionShow();
            this.answer_check = true;
          },
        },
      });
    </script>
    ​
    <!-- コンポーネントのインポート -->
    <script src="./src/app.js"></script>
    <script src="./src/getJson.js"></script>
  </body>
</html>
