body {
  background-color: #375592;
}

.header_tittle {
  max-width: 600px;
  background-color: #4d72be;
}

.text_area {
  height: 400px;
  background-color: #000;
}

.difficulty_choose_label{
  display: block;
}

.difficulty_level{
  font-size:  20px;
}

.number_of_questions {
  font-size:  20px;
}

.button-primary{
  border: none;
  background-color: #4d72be;
  font-size: 30px;
}

.extra_keys {
  background-color: #4d72be;
}

.answer_area{
  height: 150px;
  background-color: #000;
}